html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 1rem;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: white;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

#container {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
}

form {
  padding: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}

.error {
  padding: 0.5rem;
  background-color: #f5c5c5;
  border-radius: 0.5rem;
  color: #980000;
}

p {
  overflow: auto;
}
